body{
  margin: 0;
  padding: 0;
}
header{

}

.container{
  width: 90%;
  margin: auto;
  font-style: normal;
  font-family: monospace;
  background-color: #245478;
  color: white;
  padding: 10px;
}
